* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes slideRight {
    from {left: 0; opacity: 1;}
    to {left: 300px; opacity: 0;}
}

@keyframes slideLeft{
    from {right: 0;opacity: 1}
    to {right: 300px; opacity: 0;}
}

@keyframes slideNextRight {
    from {left: -300px; opacity: 0;}
    to {left: 0; opacity: 1;}
}

@keyframes slideNextLeft{
    from {right: -300px;opacity: 0}
    to {right: 0; opacity: 1;}
}

@keyframes example {
    from {left: 0;}
    to {left: 250px;}
  }

.slide_right {
    animation-name: slideRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 1s; */
}

.slide_left {
    animation-name: slideLeft;
    animation-duration: 1s;
    /* animation-timing-function: ease-in-out; */
}


.slide_next_right {
    animation-name: slideNextRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.slide_next_left {
    animation-name: slideNextLeft;
    animation-duration: 1s;
    /* animation-timing-function: ease-in-out; */
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.desc {
    margin-bottom: 1em;
}

.photos {
    display: flex;
    position: relative;
}

.item {
    width: 300px;
    height: 300px;
    background: lightgreen;
    /* margin: 1em; */
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    top: 0;
    /* left: 0; */
}

.a {
    background: yellow;
}

.b {
    background: crimson;
}

.active {
    display: flex;
}

.indicators > * {
    width: 50%;
    height: 100%;
    background: rgba(00, 00, 00, .5);
    border: none;
    cursor: pointer;
    opacity: 0;
    color: #000;
    transition: opacity .3s ease;
}

.indicators {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
}

.previous:hover,
.next:hover{
    opacity: 1;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}